---
Checks: '*,-llvm-include-order,-cert-err58-cpp,-fuchsia-*,-google-runtime-references,-google-readability-todo,-modernize-use-trailing-return-type,-readability-else-after-return,-google-readability-casting,-llvm-namespace-comment,-google-readability-braces-around-statements,-llvm-qualified-auto,-cppcoreguidelines-*,-hicpp-*,-modernize-avoid-c-arrays'
WarningsAsErrors: '*'
